<ion-header>
  <ion-toolbar>
    <ion-header translucent>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button> 
        </ion-buttons>
        <ion-title>Iniciar Sesion</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>

    
 

<h1>Registrata tu empresa AQUI</h1>

<ion-item>
  <ion-label position="floating" >Ingrese su logo</ion-label>
  <ion-input [(ngModel)]="empresa.img" ></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Nombre de la empresa</ion-label>
  <ion-input [(ngModel)]="empresa.nombre"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">direccion</ion-label>
  <ion-input [(ngModel)]="empresa.direccion"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Ruc</ion-label>
  <ion-input [(ngModel)]="empresa.ruc"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Telefono</ion-label>
  <ion-input [(ngModel)]="empresa.telefono"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Correo</ion-label>
  <ion-input [(ngModel)]="empresa.correo"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Hora de apertura</ion-label>
  <ion-input [(ngModel)]="empresa.horario_apertura"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Hora de cierre</ion-label>
  <ion-input [(ngModel)]="empresa.horario_cierre"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Descripcion</ion-label>
  <ion-input [(ngModel)]="empresa.descripcion"></ion-input>
</ion-item>

<ion-button (click)="crearEmpresa()" xpand="block ">Crear Empresa</ion-button>





</ion-content>
