<ion-header>
  <ion-toolbar>
    <ion-header translucent>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button> 
        </ion-buttons>
        <ion-title>Iniciar Sesion</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content color="content">


  <div *ngIf="codigoUsuario"> 
   <h1>soy un id del usuario </h1>
    {{codigoUsuario}}

  </div>


<h1>Registrata tu empresa AQUI</h1>

<ion-item>
  <ion-label position="floating" >Ingrese su logo</ion-label>
  <ion-input (change)="cargarLogo($event)" type="file" ></ion-input>
  <!-- <h1>{{imagenLogo}}</h1> -->

</ion-item>


<ion-item>
  <ion-label position="floating">Nombre de la empresa</ion-label>
  <ion-input [(ngModel)]="empresa.nombre"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">direccion</ion-label>
  <ion-input [(ngModel)]="empresa.direccion"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Ruc</ion-label>
  <ion-input [(ngModel)]="empresa.ruc"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Telefono</ion-label>
  <ion-input [(ngModel)]="empresa.telefono"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Correo</ion-label>
  <ion-input [(ngModel)]="empresa.correo"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Hora de apertura</ion-label>
  <ion-input [(ngModel)]="empresa.horario_apertura"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Hora de cierre</ion-label>
  <ion-input [(ngModel)]="empresa.horario_cierre"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Descripcion</ion-label>
  <ion-input [(ngModel)]="empresa.descripcion"></ion-input>
</ion-item>



<!--     
  check
-->
<ion-item>
  <ion-label>Categoria</ion-label>
  <ion-select [(ngModel)]="empresa.categoriaEmpresaid"  >
    <ion-select-option [value]="cat.categoriaEuid" *ngFor="let cat of categorias ">{{cat.nombre}}</ion-select-option>
   
  </ion-select>
</ion-item>

<!-- <h1>{{empresa.categoriaEmpresaid}}</h1> -->




<ion-button (click)="cargarImgBase()" xpand="block ">Crear Empresa</ion-button>





</ion-content>
