<ion-header>
  <ion-toolbar>
    <ion-title>listaCategoriaPr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
   

   


    <ion-item-sliding *ngFor="let catP of categorias ">
      <ion-item-options side="start">
        <ion-item-option >Modificar</ion-item-option>
        <ion-item-option color="danger" >Eliminar</ion-item-option>
      </ion-item-options>
  
      <ion-item >
        <ion-card class="slidecontent" style="background-image:url({{catP.img}})">


            <h2>{{catP.nombre}}</h2>
            

       
          
         
        </ion-card>


      
      
      

    </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option >Productos</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    
  </ion-list>
  
  

</ion-content>
