<ion-header>
  <ion-toolbar color="tema">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lista-categoria-pr"></ion-back-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>LISTA PRODUCTOS</h1>

  
  

  <ng-container *ngIf="productos; else elseTemplate">
    <ion-list>

      <ion-item-sliding *ngFor="let pro of productos ">
        <ion-item-options side="start">
          <ion-item-option  >Modificar</ion-item-option>
          <ion-item-option color="danger">Eliminar</ion-item-option>
        </ion-item-options>
    
        <ion-item >
              <h2>{{pro.nombre}}</h2>
              <h2>{{pro.costo}}</h2>
             
  
             
        
      </ion-item>
      </ion-item-sliding>
  
      
    </ion-list>
  
     
   </ng-container>
   <ng-template #elseTemplate>
     <h1>Cargando...</h1>
     
   </ng-template>
   
  
  
    
    

  

</ion-content>
