page-home{
    .bg-image{
        background-image: url('../../assets/imagenes/categoria.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        
    }
}

.fondo{
    width: 100%;
    height: 305px;

}

.imagenes{
    border-radius: 100%;
    width: 30%;
    display: block;
   margin: auto;
   margin-top: -60px;
  

}

.centrarbtn{
    text-align: center;

}




