

<ion-content  padding color="tema1" >
 
 
    <img src="../../assets/imagenes/logo22.png"  class="fondo" />
 
     


    <img src="../../assets/imagenes/admin2.png"  class="imagenes"/>
    

    
    <ion-item>
      <ion-label position="floating" >Usuario</ion-label>
      <ion-input [(ngModel)] = "email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)] = "contra" type="password" name="password" [type]="showPassword ? 'text':'password'"></ion-input>
      <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
    </ion-item>   
    
    <div class="centrarbtn">
      <ion-button color="dark" (click)="logerace()"  xpand="block " >Iniciar Sesion</ion-button>
   
      <h6>No tienes una cuenta ?</h6>
      <h6>Contactate con nosotros al correo:</h6>
      <ion-row>
        <ion-col>
          <ion-label ></ion-label>  
          <a routerLink=""><small>jochoac6@est.ups.edu.ec</small></a>         
        </ion-col>
      </ion-row>

      <!--<h1>{{email}}</h1>
      <h1>{{contra}}</h1>

      -->

    

     
     
         
       
      
      

    </div>
   
  
 
    
  

</ion-content>
