<ion-header>
  <ion-toolbar>
    <ion-title>categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      
 

<h1>Registrata tu empresa AQUI</h1>

<ion-item>
  <ion-label position="floating" >Ingrese su logo</ion-label>
  <ion-input  > hola</ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Nombre de la empresa</ion-label>
  <ion-input  > hola</ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">direccion</ion-label>
  <ion-input  > hola</ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Ruc</ion-label>
  <ion-input  > hola</ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Telefono</ion-label>
  <ion-input  > hola</ion-input>
</ion-item>




<!--     
  check
-->
<!-- <ion-item>
  <ion-label>Categoria</ion-label>
  <ion-select [(ngModel)]="empresa.categoriaEmpresaid"  >
    <ion-select-option [value]="cat.categoriaEuid" *ngFor="let cat of categorias ">{{cat.nombre}}</ion-select-option>
   
  </ion-select>
</ion-item> -->

<!-- <h1>{{empresa.categoriaEmpresaid}}</h1> -->




<ion-button  xpand="block ">Crear Empresa</ion-button>



</ion-content>
