<ion-header>
    <ion-toolbar>
        <ion-toolbar color="tema">
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/home"></ion-back-button>
            </ion-buttons>
            <ion-title style="padding-left: 0" class=" ion-text-center ">Registro Producto</ion-title>
        </ion-toolbar>
    </ion-toolbar>


</ion-header>

<ion-content>
    <ion-card >
        <img src="/assets/imagenes/categoriaProducto.png" />
        <ion-card-title >
          <h6 class="fond"  class="ion-text-center"  >Ingrese su Imagen</h6>
        </ion-card-title >
        
        <ion-input (change)="cargaImagen($event)" type="file"></ion-input>
        <h1>{{imageProdu}}</h1>
 
    <ion-item>
        <ion-label position="floating ">Nombre</ion-label>
        <ion-input [(ngModel)]="producto.nombre "></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating ">Marca</ion-label>
        <ion-input [(ngModel)]="producto.marca "></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating ">Precio</ion-label>
        <ion-input [(ngModel)]="producto.costo" type="number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating ">Descripcion</ion-label>
        <ion-input [(ngModel)]="producto.descripcion "></ion-input>
    </ion-item>

    <ng-container *ngIf="aux; else elseTemplate">
      
        <ion-item>
            <ion-label>Categoria</ion-label>
            <ion-select [(ngModel)]="variable" >
              <ion-select-option [value]="cat.uid" *ngFor="let cat of aux  ">
                  
                <ion-item *ngIf="cat.nombre ">
                    {{cat.nombre}}
                </ion-item>
         
            </ion-select-option>
             
            </ion-select>
          </ion-item>
        
          {{variable}}
    
    
    
        </ng-container>
        <ng-template #elseTemplate>
          <h1>Cargando...</h1>
          
        </ng-template>
    
     
      
      <!-- <h1>{{empresa.categoriaEmpresaid}}</h1> -->
      
      
       <div class="centrado">
        <ion-button color="dark" (click)="cargarImgBase()" xpand="block ">Crear Empresa</ion-button>

       </div>
       
    
    
    
    
        
    
    
    

</ion-card >


<!--     
  check
-->




 






</ion-content>