<ion-header>
  <ion-toolbar color="tema">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lista-producto"></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="producto; else elseTemplate">
    <ion-list >
      <ion-item >
        <ion-card >
  
        <img [src]="producto.img"/>
          
  
          <ion-input class="ion-text-center" (change)="cargaImagen($event)" type="file" > </ion-input>
          <h1> {{imageProdu}}</h1>
          <b>    Nombre:  </b>
          
          <div class="centrado">
            
              <ion-input [(ngModel)]="producto.nombre" > </ion-input>
  
           

          </div>
            
            
          
          <b>    Marca:  </b>
          <div class="centrado">
            <ion-input [(ngModel)]="producto.marca" > </ion-input>

          </div>
            
            
       
          <b>    Costo:  </b>
          <div class="centrado">
            <ion-input [(ngModel)]="producto.costo "  ></ion-input>
            

          </div>
          
            
           
      

          <b>Descripcion:  </b>
          <ion-card-content>
            <ion-item>
              
              <ion-textarea placeholder="Enter more information here..." [(ngModel)]="producto.descripcion"> </ion-textarea>
            </ion-item>
          </ion-card-content>
  
                  
        </ion-card>
        
    </ion-item>   
    <div class="centrado" >
      <ion-button color="dark" (click)="cargarImgBase()" xpand="block ">Modificar</ion-button>
    </div>
  </ion-list>
     
   </ng-container>
   <ng-template #elseTemplate>
     <h1>Cargando...</h1>
     
   </ng-template>
   
  
  
    
    

</ion-content>
